# Ignore antibody git local install
# git clone --depth=1 https://github.com/mattmc3/antidote.git .antidote
.antidote

# Don't commit anything sensitive
secrets.zsh

# Some settings to control things in WSL, if using a shell in WSL, `touch ${ZSH}/wsl`
wsl

# cache directory and compiled zsh byte code
cache/
*.zwc
.vscode/
